[user]
        name = wim-web
        email = 45655999+wim-web@users.noreply.github.com
[core]
        quotepath = false
        editor = vim
[ghq]
        root = ~/program/ghq
[init]
        defaultBranch = main
