---
name: renovate config validate

on:
  pull_request:
    paths:
      - default.json
      - renovate.json

jobs:
  validate:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: rinchsan/renovate-config-validator@v0.0.12
